:root {
    --accent: #266ede;
    --accent-become: #1f5ab5;
    --main: #4888ee;
    --light: #fff;
    --darker: #eee;
    --dark: #1f1f1f;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif !important;
    overflow-x: hidden;
}

.main_btn {
    border: 1px solid #2e76e7;
    border-radius: 10px;
}

.main_btn:hover {
    border: 1px solid var(--accent-become);
    background-color: var(--accent-become);
    cursor: pointer;
}

.main_btn:hover a {
    text-decoration: none;
}

#header_background {
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    max-height: 100%;
}

.header_container {
    position: absolute;
    top: 0;
    height: 100vh;
    padding: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
}

.header_container nav {
    width: 100%;
    position: fixed;
    top: 0;
    height: 80px;
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: var(--main);
}

.logo_area {
    width: 40%;
}

.logo_area img {
    max-height: 40px;
    float: left;
    margin-left: 160px;
}

.nav_links {
    max-height: 80px;
    float: right;
    width: 60%;
    text-align: right;
    margin-right: 50px;
}

.nav_link {
    display: inline;
}

.nav_link a, .main_btn a {
    font-size: 1.2em;
    color: var(--light);
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

.nav_link a:not(.main_btn):hover {
    color: var(--darker);
}

.nav_line {
    height: 100%;
    border-left: 2px solid var(--accent);
}

.nav_btn {
    background-color: var(--accent);
    padding: 10px;
    border: 1px solid #2e76e7;
    border-radius: 10px;
}

header {
    position: absolute;
    top: 22vh;
    left: 20%;
    text-align: left;
    min-height: 300px;
}

header h1 {
    color: var(--light);
    font-size: 3.5em;
}

header h1 mark  {
    background: none;
    color: var(--accent-become);
}

.docual_btn {
    border: 1px solid #2e76e7;
    border-radius: 10px;
    font-size: 2em;
    color: var(--light);
    text-decoration: none;
    background-color: var(--accent);
    padding: 10px;
}

.docual_btn:hover {
    border: 1px solid var(--accent-become);
    background-color: var(--accent-become);
    cursor: pointer;
    text-decoration: none;
    color: var(--light);
}

.cover-h1 {
    background-color: #fff;
    padding: 10px;
    min-height: 150px;
    border-radius: 10px;
}

header .col-sm-12 {
    margin-top: auto;
    margin-bottom: auto;
}